{% extends 'base.html' %}

{% block content %}
<div class="container animate-fade">
    <div class="pizza-detail">
        <h1>{{ pizza.name }}</h1>
        
        <div class="pizza-image">
            {% if pizza.image %}
                <img src="{{ pizza.image.url }}" alt="{{ pizza.name }}" style="width: 100%; height: auto; object-fit: cover;">
            {% endif %}
        </div>
        

        <div class="pizza-info">
            <div class="pizza-description">
                <h3>Описание</h3>
                <p>{{ pizza.description }}</p>
            </div>

            <div class="pizza-price">
                <h3>Цена</h3>
                <p>{{ pizza.price }} ₸</p>
            </div>

            <form action="{% url 'create_order' %}" method="post" class="mt-4">
                {% csrf_token %}
                <input type="hidden" name="pizza_id" value="{{ pizza.id }}">
                <button type="submit" class="btn btn-primary btn-lg">Добавить в заказ</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}